<div [formGroup]="generalInfo" class="form-group">
  <div class="row">
    <div class="col-md-3 col-sm-3 hidden-xs">
      <div class="logo">
        <img [src]="generalInfoModel?.file"
             class="img-circle"/>
      </div>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <div class="row form-group">
        <label class="col-md-12 col-sm-12 col-xs-12">Email:</label>
        <div class="col-md-12 col-sm-12 col-xs-12 email">
          {{generalInfoModel?.email}}
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <label>Name *</label>
          <input type="text" class="form-control" placeholder="Name"
                 formControlName="name" [value]="generalInfoModel?.name">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <label>Surname *</label>
          <input type="text" class="form-control" placeholder="Surname"
                 formControlName="surname" [value]="generalInfoModel?.surname">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-12 col-sm-12 col-xs-12 checkbox-inline">
          <label style="margin-left: 20px">
            <input type="checkbox" class="form-check-input" formControlName="allowImageUsage" [checked]="generalInfoModel?.allowImageUsage">{{generalInfoModel?.AllowImageUsage}}
            <small class="form-text text-muted">You can use my picture to promote the event.*</small>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <label>Biography *</label>
      <textarea formControlName="biography" class="form-control" maxlength="600" name="biography" [value]="generalInfoModel?.biography"></textarea>
      <small class="form-text text-muted">600 characters max</small>
    </div>
  </div>
</div>
