<!--h2 *ngIf="user | async">{{ user | async | json }}</h2>
<h2 *ngIf="profile | async">{{ profile | async | json }}</h2-->
<form id="profile_form" [formGroup]="profileForm" (ngSubmit)="save()" class="form-group" novalidate>
  <div class="container-fluid">
    <div><h1>Profile</h1></div>
    <general-info [profileForm]="profileForm" [generalInfoModel]="(profile | async).profile.generalInfo"></general-info>
    <div class="separator"></div>
    <employment-info [profileForm]="profileForm" [employmentModel]="(profile | async).profile.employmentInfo"></employment-info>
    <div class="separator"></div>
    <social [profileForm]="profileForm" [socialModel]="(profile | async).profile.social"></social>
    <div class="separator"></div>
    <language [profileForm]="profileForm" [languagesModel]="(profile | async).profile.languages"></language>
    <div class="separator"></div>
    <community [profileForm]="profileForm" [communityModel]="(profile | async).profile.communityInfo"></community>
    <div class="separator"></div>
    <agreement [profileForm]="profileForm" [agreementModel]="(profile | async).profile.agreement"></agreement>
  </div>
</form>
